<a href="https://colab.research.google.com/github/formula008/Information-Posco-HighSchool/blob/main/02Variable%26Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예제2-1 변수를 사용하지 않은 소스 코드

In [ ]:
print('Hello python')
print('Hello python')
print('Hello python')
print('Hello python')
print('Hello python')

# 예제2-2 변수를 사용한 소스

In [ ]:
hello='안녕 파이썬' 
print(hello)
print(hello)
print(hello)
print(hello)
print(hello)

## 예제2-3 본인의 이름과 나이를 변수에 저장한 후 출력

In [ ]:
name='나코딩'
age=20

print(name)
print(age)

# 예제2-4 문자열 곱하기 응용

In [ ]:
print('='*20)
print('I love python')
print('I like python')
print('='*20)

# 변수실습문제
# 실습2-1 자동판매기에 투입한 돈과 물건 값이 아래와 같이 변수에 저장되었다고 가정하고 잔돈을 계산하여 동전으로 거술러주는 프로그램을 작성해보자.
- 가정 : 자판기는 동전 500원, 100원만만 거슬러준다.
- 힌트 : 몫(//), 나머지(%) 연산자 활용

In [ ]:
money = 1600          # 투입한 돈
price = 1000            # 물건 값

change=money-price      # 잔돈
print('change ',change)

c500=change//500        # 500원 개수
change=change%500

c100=change//100        # 100원 개수

print('coin500 ',c500)
print('coin100 ',c100)

## 실습2-2 세과목에 대한 성적을 각각 변수에 저장한후 합계와 평균을 출력해보자.

In [ ]:
kor,eng,math=100,100,100

hap=kor+eng+math
avg=hap/3

print('hap', hap)
print('avg', avg)

# 실습2-3 다음 코드의 실행결과를 쓰시오.

In [ ]:
num1=25
num2=10

print(num1 / num2)
print(num1 // num2)
print(num1 % num2)

# 실습2-4 다음 문제의 대한 가장 알맞은 조건식을 밑줄에 쓰시오.

# 실습2-5 본인의 학교이름, 학과, 이름, 연락처를 변수에 저장하여 출력해보자.
- 변수명 : 학교이름(univ), 학과(dept), 이름(name), 연락처(phone)

## 변수 도전문제
# 2장 도전1-1 정수의 각 자리수를 분리하여 출력하는 프로그램이다. 빈곳에 알맞은 답을 예측하시오.
- 조건 : 변수에 정수 396을 저장한 후 백의자리, 십의자리, 일의자리로 분리하여 출력하시오.
- 예 : 정수 123인 경우 백의자리 1, 십의자리 2, 일의자리 3의 결과를 추력
- 힌트 : 몫(//), 나머지(%) 연산자 활용

In [ ]:
n=396
print(n)
d100=       # 백의자리
n=n%100

d10=        # 십의자리
d1=         # 일의자리

print('백의자리',d100)
print('십의자리',d10)
print('일의자리',d1)

# 2장 도전1-2 초 단위 시간을 입력받아서 몇 시간, 몇 분, 몇 초인지를 출력하는 프로그램이다. 빈곳에 알맞은 답을 예측하시오.
- 힌트 : 목(//), 나머지(%) 연산자 활용

In [ ]:
# 도전 3-2


time=3700
print(time,'초')

minute=     #분
second=     #초

hour=       #시
minute=     #분

print('%d 시간' % hour)
print('%d 분' % minute)
print('%d 초' % second)

# 2장 도전1-3 성적 프로그램
- 조건 : 이번학기 수강하는 파이썬 과목은 성적반영비율이 아래와 같다.
- (출석 : 10%, 과제 : 30%, 중간 : 30%, 기말 : 30%) 항목 점수가 각각 아래와 같이 있다고 가정할 때 전체 총점을 출력하는 프로그램이다. 빈곳에 알맞은 답을 예측하시오.

In [ ]:
# 도전 3-3

attend=100
homework=100
mid=100
final=100

# 정답입력

'''
total = attend * 0.1
total += homework * 0.3
total += mid * 0.3
total += final * 0.3
'''
print('total %d' % total)

# 2장 도전2-1 cafe 프로그램
- 조건 : 커피 메뉴가 ame, cafelattee, cafemoca 있을때 하루에 판대 된 수량이 각각 20, 10, 10이라고 가정할 때 총 매출액을 계산하는 프로그램을 작성하시오. 또한 하루 재료비가 100,000원 일 경우 순이익을 구하시오.
- 변수명 : 아메(ame), 카페라떼(cafelattee), 카페모카(cafemoca), 총매출(total)
- 가격 : 아메 2000원, 카페라떼 3000원, 카페모카 4000원

In [ ]:
# 도전4

total :  110000
순이익 :  10000