<a href="https://colab.research.google.com/github/formula008/Information-Posco-HighSchool/blob/main/03Input%26Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예제3-1 입력의 기본 형태

In [ ]:
input('이름 입력: ')

# 예제3-2 입력 자료 저장

In [ ]:
name = input('이름을 입력하세요. ')
print(name)

# 예제3-3 문자열로 입력된 자료

In [ ]:
a = input('첫 번째 숫자 입력: ')
b = input('두 번째 숫자 입력: ')
print(a+b)

# 예제3-4 정수형으로 입력된 자료

In [ ]:
a = int(input('첫 번째 숫자 입력: '))
b = int(input('두 번째 숫자 입력: '))
print(a+b)

# 예제3-5 실수형으로 입력된 자료

In [ ]:
c = float(input('숫자 입력: '))
print(c)

# 예제3-6 출력의 기본 형태

In [ ]:
print('파이선으로 출력')

# 예제3-7 콤마(,)로 구분하여 출력

In [ ]:
name = input('이름 입력: ')
print('입력하신 이름은', name)

# 예제3-8 %s 형식지정자를 이용하여 출력

In [ ]:
name = input('이름 입력: ')
print('입력하신 이름은 %s' % name)

# 예제3-9 %d 형식지정자를 이용하여 출력

In [ ]:
a = int(input('첫 번째 숫자 입력: '))
b = int(input('두 번째 숫자 입력: '))
print('%d + %d = %d' % (a, b, a+b))

# 예제3-10 %f 형식지정자를 이용하여 출력

In [ ]:
a = int(input('첫 번째 숫자 입력: '))
b = int(input('두 번째 숫자 입력: '))
print('%d / %d = %f' % (a, b, a/b))

# 예제3-11 format()함수를이용하여 출력

In [ ]:
a = int(input('첫 번째 숫자 입력: '))
b = int(input('두 번째 숫자 입력: '))
print('{0} * {1} = {2}'.format(a, b, a*b))

# 예제3-12 중괄호 순서를 변경하고 자료를 반복하여 출력

In [ ]:
print('{1} {1} 빛나는 {0}'.format('별','반짝'))

## 실습3-1 본인의 학번과 이름을 입력받아 콤마(,)를 이용하여 출력한다.

In [ ]:
hakbun = input('학번 입력: ')
name = input('이름 입력: ')
print('학번은',hakbun,'이고, 이름은',name,'입니다.')

## 실습3-2 반지름을 입력 받아 원의 넓이를 계산 후 % 형식지정자를 이용하여 출력한다.

In [ ]:
radius = int(input('반지름 입력: '))
area = 3.14 * radius * radius
print('원의 넓이는 %.2f 입니다.'% area)

## 실습3-3 가로 및 세로 길이를 입력받아 사각형의 넒이를 계산 후 format()함수를 이용하여 출력한다.

In [ ]:
width = int(input('가로 길이 입력: '))
height = int(input('세로 길이 입력: '))
area = width * height
print('가로: {}, 세로: {}, 넓이: {}'.format(width, height, area))

# 실습3-4 다음 파이썬 코드이 실행결과를 작성하시오.

In [ ]:
account = 100000
name = input('회원이시면 이름 입력: ')
account += 1000
print('%s 회원님에게 1000 point 지급' % name)
print('{} 회원님 잔고: {} point'.format(name, account))

# 도전1-1 시간의 초를 입력 받아 분과 초를 출력하는 실행 결과가 나오도록 부족한 부분을 완성하시오.

In [ ]:
total = (('시간의 전체 초 입력: ')) #부족한 부분
min = total / 60
sec = total % 60
print('%d 초: %d 분 %d 초'    ) #부족한 부분

# 도전1-2 출생년도를 입력 받아 한국 나이를 출력하는 실행 결과가 나오도록 부족한 부분을 완성하시오.

In [ ]:
name = input('이름 입력: ')
year = int(input('출생년도 입력: '))
age = 2019 - year + 1
print('{} 님의 한국 나이는 {}살'  ) #부족한 부분

이름 입력: 황태준
출생년도 입력: 2001
황태준 님의 한국 나이는 19살

# 도전1-3 밑변과 높이를 입력받아 삼각형의 넓이를 출력하는 실행 결과가 나오도록 부족한 부분을 완성하시오.

In [ ]:
base = (input('밑변의 길이: ')) #부족한 부분
height = (input('높이의 길이: ')) #부족한 부분
area = (base * height) / 2
print('밑변 , 높이  인 삼각형의 넓이: ' % (base, height, area) ) #부족한 부분

밑변의 길이: 3.5
높이의 길이: 9.7
밑변 3.50, 높이 9.70 인 삼각형의 넓이: 16.97

# 도전2-1 본인의 키를 입력 받아 표준 체중을 출력한다.
- 공식 : 키-100*0.9

키 입력: 180
키 180cm의 표준 체중은 72kg 입니다.

# 도전2-2 숫자2개를 입력 받아 사칙 연산을 출력한다.

첫 번째 숫자 입력: 20
첫 번째 숫자 입력: 10
20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2.0

# 도전2-3 세 과목의 점수를 입력 받아 총점과 평균을 출력한다.

국어 점수: 86
영어 점수: 82
수학 점수: 97
국어:86점, 영어:82점, 수학:97점 ⇒ 총점:265.00, 평균:88.33