<a href="https://colab.research.google.com/github/formula008/Information-Posco-HighSchool/blob/main/%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예제5-1 회원이면 어서 오십시오 인사말 출력

In [ ]:
#6-1
member = input('회원이십니까?(y/n) ')

# 예제5-2 회원이면 어서 오십시오를 아니면 회원가입 안내말 출력

In [ ]:
#6-2
member = input('회원이십니까?(y/n) ')

# 예제5-3 입력 받은 나이에 따라 놀이동산 입장료를 출력한다.
- 입장료 정가 : 2만원
- 1세~6세 미만 : 무료
- 6세~60세 미만 : 2만원
- 60세 이상 : 입장료의 50%

In [ ]:
#6-3
age = int(input('나이 입력: '))
price = 20000

# 예제5-4 입력 받은 나이에 따라 놀이동산 입장료를 출력한다.
- 입장료 정가 : 2만원
- 1세~6세 미만 : 무료
- 6세~60세 미만 : 2만원
- 60세 이상 : 정가의 50%
- 이외에 나이를 입력할 경우 오류 메시지 출력

In [ ]:
#6-4
age = int(input('나이 입력: '))
price = 20000

# 예제5-5 입력 받은 결재 수단에 따라 교통수단을 출력한다.

In [ ]:
#6-5
pocket = ['스마트폰', '교통카드', '현금']

item = input('결재 수단 입력: ')

# 예제5-6 입력 받은 결재 수단에 따라 교통수단을 출력한다. 단,pocket리스트에 없는 값을 입력할 경우 오류 메시지를 출력한다.

In [ ]:
#6-6
pocket = ['스마트폰', '교통카드', '현금']

item = input('결재 수단 입력: ')

# 예제5-7 가위,바위,보 중에 하나를 입력 받아 컴퓨터가 임의로 생성한 가위,바위,보와의 대결 결과를 출력한다.

In [ ]:
#6-7
import random
rps = ['가위','바위','보']
com = random.choice(rps)
player = input('가위, 바위, 보 중에서 하나 입력: ')

if player == '가위' :
    
elif player == '바위' :
    
elif player == '보' :

if player in rps:
    print('나:%s, 컴퓨터:%s ⇒ %s' % (player, com, result))
else:
    print('잘못 입력하셨습니다. 다시 입력하세요.')

# 실습5-1 년도를 입력 받아 윤년인지 여부의 결과를 출력한다.

In [ ]:
#실습6-1
year = int(input('연도를 입력: '))

연도를 입력: 2000
2000 년은 윤년

# 실습5-2 월을 입력받아 계절을 출력한다.
- 3~5월은 봄
- 6~8월은 여름
- 9~11월 가을
- 12월~2월은 겨울

In [ ]:
#실습6-2
month = int(input('월 입력: '))

월 입력: 10
10 월은 가을

# 실습5-3 키와 몸무게를 입력 받아 BMI지수를 계산한 후 비만 상태를 출력한다.
- 18미만 : 저체중
- 18~23 미만 : 정상
- 23~25 미만 : 과체중
- 25이상 : 비만

In [ ]:
#실습6-3
h = int(input('키 입력: '))
w = int(input('몸무게 입력: '))
bmi = w / ((h/100) * (h/100))



print('BMI: %.2f, %s' % (bmi, result))

키 입력: 175
몸무게 입력: 90
BMI: 29.39, 비만

# 실습5-4 연도와 월을 입력받아 해당년도 월의 일수를 출력한다.

In [ ]:
#실습6-4

day31 = [1,3,5,7,8,10,12]
day30 = [4,6,9,11]
year = int(input('연도 입력: '))
month = int(input('월 입력: '))


print('%d년 %d월은 %d까지' % (year, month, result))

연도 입력: 2016
월 입력: 2
2016년 2월은 29까지

# 실습5-5 얼리버드 항공권 할인율을 조회하여 출력하는 파이썬 코드의 실행결과를 작성하시오.

In [ ]:
#실습 6-5
remain_period = int(input('몇개월 후의 여행을 계획중인가요?(3개월 이상) '))
country = input('여행할 지역 입력(아시아,유럽,미주): ')
if 3 <= remain_period < 6 :
    
elif 6 <= remain_period < 12 :
    
elif 12 <= remain_period :
    
else :
    
if result:
    print('%d개월 이후의 %s 항공권은 %d%% 할인' % (remain_period, country, result))
else:
    print('기간 또는 지역 정보가 바르지 않거나, 할인이 지원되지 않는 지역입니다.')

# 5장 도전1-1 사용자로부터 정수를 입력 받아 짝수 및 홀수를 판별하여 출력한다.
# 미완성된 부분을 완성하시오.

In [ ]:
num = int(input('정수 입력: '))

정수 입력: 77
77은 홀수

# 5장 도전1-2 사용자로부터 입력 받은 정수가 양수, 음수, 0인지 판별하여 출력한다. 
# 미완성된 부분을 완성하시오.

In [ ]:
#도전 6-1-2
num = int(input('정수 입력: '))

정수 입력: 77
77은 양수

# 5장 도전1-3 아이디와 패스워드를 입력 받아 로그인 인증 결과를 출력한다. 
# 미완성된 부분을 완성하시오.
- 아이디(admin), 패스워드(pw1234) 둘다 맞으면 로그인 성공 메시지를 출력하고, 둘 중의 하나 이상 틀리면 오류 메시지 출력

In [ ]:
#도전 6-1-3
id = input('아이디 입력: ')
pwd = input('비밀번호 입력: ')

아이디 입력: admin
비밀번호 입력: pw1234
로그인 성공

# 5장 도전2-1 두 수를 입력 받고, 사칙 연산자 중에 하나를 입력 받아 사칙 연산의 결과를 출력한다.
- 첫번째수:num1, 두번째수:num2, 연산자:op, 결과:result

In [ ]:
#도전 6-2-1

첫 번째 수 입력: 20
첫 번째 수 입력: 30
원하는 연산 기호 하나 입력: (+ - * /) +
20 + 30 = 50

# 5장 도전2-2 두번의 점수를 입력 받아 합격 및 불합격 여부를 출력한다.
- 점수1:score1, 점수2:score2, 평균:avg
- input()함수를 이용하여 1차 및 2차 점수를 입력
- 조건(평균 70점 이상, 각 점수당 50점 이상(과락: 50점미만))이 맞으면 합격, 그렇지 않으면 불합격 결과 출력

In [ ]:
#도전 6-2-2

1차 점수 입력: 70
2차 점수 입력: 95
합격

# 5장 도전2-3 점수를 입력 받아 학점을 출력한다.
- 점수:score, 학점:grade
- 90점이상 : A
- 80점이상 ~ 90점미만 : B
- 70점이상 ~ 80점미만 : C
- 60점이상 ~ 70점미만 : D
- 60점미만 : F

In [ ]:
#도전 6-2-3

점수 입력: 93
93점은 A학점